@use "../abstracts" as *;
@use "uppercase" as upp;
@use "text-decoration" as *;

.heading {
  &--h2 {
    font-family: $ff-base;
    font-size: fs(200);
    font-weight: $fw-500;
    letter-spacing: 5px;
    line-height: $lh-100;
    color: clr(neutral, 600);
    margin-block-start: size(32);
    margin-block-end: size(20);
    @extend .uppercase;
  }

  &--h1 {
    font-family: $ff-accent;
    font-size: fs(800);
    font-weight: $fw-700;
    line-height: 32px;
    margin-block-end: size(24);
    text-wrap: balance;
  }
}

.product {
  font-family: $ff-base;
  font-size: fs(300);
  font-weight: $fw-500;
  line-height: 23px;
  text-align: left;
  color: clr(neutral, 600);
  max-width: 237px;
  margin-block-end: size(29);
  @include mq(small, $type: max) {
    max-width: 297px;
  }
}

.price {
  &--1 {
    font-family: $ff-accent;
    font-weight: $fw-700;
    font-size: fs(800);
    color: clr(primary, 400);
  }

  &--2 {
    font-family: $ff-base;
    font-size: fs(300);
    font-weight: $fw-500;
    color: clr(neutral, 600);
    @extend .strike-through;
  }
}
