$ff-sans: "Montserrat", sans-serif;
$ff-serif: "Fraunces", serif;

$ff-base: $ff-sans;
$ff-accent: $ff-serif;

$font-sizes: (
  900: clamp(2.5rem, 0.5rem + 10vw, 5rem),
  800: clamp(1.6875rem, 0.5rem + 7vw, 2rem),
  700: clamp(1.5rem, 0.5rem + 3vw, 1.6875rem),
  600: 1.3125rem,
  500: 1.125rem,
  400: 1rem,
  300: 0.875rem,
  200: 0.75rem,
);

$fw-400: 400;
$fw-500: 500;
$fw-700: 700;
